.dummyText {
    flex: 0.65;
    background-color: #060030;
    background-image: url('https://images.unsplash.com/photo-1589033291494-27dfeda9aefa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    display: grid;
    place-items: center;
    border: 5px ridge #FFA700;
}

.dummyText_container {
    padding: 50px;
    text-align: center;
}

.dummyText_container>img {
    object-fit: contain;
    height: 50vh;
    width: 25vw;
    background-color: #060030;
    margin-bottom: 40px;
    border-radius: 200px;
    box-shadow: 0px 0px 30px 0px #000000;
}

.dummyText_text > h1 {
    font-size: 40px;
    color: #060030;
    font-family: 'Tapestry', cursive;
}

